.git/
.gitignore
.dockerignore

.env
.env.*
config/master.key

log/*
tmp/*
storage/*
public/uploads/*

spec/
test/
docs/
README.md
docker-compose.yml
.rspec
.rubocop*.yml

.DS_Store
*.swp
*.swo

node_modules/
coverage/
.fly/
